Hi <%= @employee.first_name %>,

The leave has been <%= @leave.status %>. 
From <%= @leave.start_date_of_leave.strftime("%m/%d/%Y") %> To <%= @leave.end_date_of_leave.strftime("%m/%d/%Y") %> 


Thanks 
JOSH TEAM